@import 'src/style/root';

.createPostPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createPostContainer {
  width: 25rem;
  height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: $background-color;
  color: $font-color;
  h1 {
    text-align: center;
  }
  .post {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 1.4rem;
    font-weight: 300;
    input, textarea {
      border: 1px solid #ddd;
      color: #73736F;
      padding: 12px 20px;
      outline-color: #dfc2c4;
      font-family: 'Lato', sans-serif;
      letter-spacing: 2px;
      margin-top: 5px;
    }
    textarea {
      height: 150px;
      box-sizing: border-box;
      resize: vertical;
    }
    textarea::-webkit-scrollbar {
      width: 15px;
      background-color: #f5f5f5;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    }
    textarea::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(115, 115, 111, 0.41);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }
  }
  button {
    color: $font-color;
    background: #e4c9b5;
    border: 1px solid #e4c9b5;
    border-radius: 4px;
    width: 5rem;
    height: 2rem;
    margin: 0 auto 10px;
    font-size: 11px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
  }
  button:hover {
    background: rgba(255, 182, 193, 0.66);
  }
  button:active {
    background: rgba(245, 125, 144, 0.58);
  }
  .image-upload {
    display: flex;
    justify-content: center;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 100px;
      color: $font-color;
      background: rgba(245, 125, 144, 0.58);
      padding: 5px;
      border-radius: 5px;
    }
  }

  .progress-bar {
    height: 15px;
    background: rgba(245, 125, 144, 0.58);
    margin: 20px 0;
    border-radius: 10px;
  }

}