@import "root";

.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;

  .post {
    display: flex;
    flex-wrap: wrap;
    margin: 0 25px 40px 25px;
    width: 385px;

    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 5px;
    }

    .post__content {
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 14px;
        font-family: $font-second;
        color: #b39656;
        text-align: left;
      }

      .link {
        text-decoration: none;
      }

      .title {
        font-size: 0.7rem;
        font-weight: 700;
        color: black;
      }

      .post__text {
        font-size: 0.8rem;
        line-height: 24px;
        text-align: justify;
      }
    }
  }
}