@import "root";

.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px 25px 40px 25px;
    max-width: 385px;
    button {
      background: none;
      border: none;
      cursor: pointer;
      img {
        height: 20px;
        width: 20px;
      }
    }
    .image {
      width: 100%;
      max-height: 280px;
      object-fit: cover;
      border-radius: 5px;
    }

    .post__content {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .author {
        font-size: 14px;
        font-family: $font-second;
        color: #C38888;
        text-align: left;
      }
      .title {
        font-size: 24px;
        font-weight: 700;
        color: black;
        margin-top: 15px;
      }
      .date {
        font-style: italic;
        font-size: 13px;
        color: #999;
        margin-top: 15px
      }
      .post__description {
        font-size: 14px;
        font-family: $font-second;
        line-height: 24px;
        text-align: justify;
        margin-top: 15px;
      }

    }
  }
}


.link {
  text-decoration: none;
}





