@import 'root';

.post-page {
  display: flex;
}

.singlePost {
  padding: 20px;
  margin-right: 0;
  width: 100%;

  p {
    font-size: 14px;
    font-family: $font-second;
    color: #C38888
  }

  img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }
  .singlePost__title {
    text-align: center;
    margin: 10px;
    font-size: 28px;
  }
  .singlePost__description {
    color: #666;
    font-size: 18px;
    line-height: 25px;
  }
  .singlePost__description::first-letter {
    margin-left: 20px;
    font-weight: 600;
    font-size: 30px;
  }
}