@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$font-second: 'Varela Round', sans-serif;
$font: 'Lato', sans-serif;
$font-color: #73736f;
$background-color: #FBF6F3;

body {
  font-family: $font;
  padding: 0;
  margin: 0;
}