.side-bar__content {
  background-color: beige;
  border-radius: 5px;
  img {
    border-radius: 50%;
    padding: 10px;
  }
  .side-bar__header {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
  }
  article {
    line-height: 1.3rem;
    padding: 10px;
    text-align: justify;
  }
}